{% if not user %}

  <a data-request="onLinkedIn" {% if showText and not showIcon %}style="padding: 10px 16px;" {% endif %}class="btn {% if useButton %} {% if linkedin_btn_size %}btn-{{ linkedin_btn_size }} {% endif %}btn-social{% if showIcon and not showText %}-icon{% endif %} btn-linkedin{% else %} btn-default{% endif %}">
    {% if showIcon %}<i class="icon icon-linkedin"></i>{% endif %}
    {% if showText %}Sign in using {{ __SELF__.name|ucfirst }}{% endif %}
  </a>
{% else %}

  {% if not user.social.linkedin %}
  <a data-request="onLinkedIn" {% if showText and not showIcon %}style="padding: 10px 16px;" {% endif %}class="btn {% if useButton %} {% if linkedin_btn_size %}btn-{{ linkedin_btn_size }} {% endif %}btn-social{% if showIcon and not showText %}-icon{% endif %} btn-linkedin{% else %} btn-default{% endif %}">
    {% if showIcon %}<i class="icon icon-linkedin"></i>{% endif %}
    {% if showText %}Connect to {{ __SELF__.name|ucfirst }}{% endif %}
  </a>
  {% endif %}

{% endif %}